<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PhoneBook Contacts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone Number</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${contacte.empty}">
        <td colspan="5"> No contacts available!</td>
    </tr>
    <tr th:each="contact : ${contacte}">
        <td><span th:text="${contact.id}"> Id </span></td>
        <td><span th:text="${contact.name}"> Name </span></td>
        <td><span th:text="${contact.surname}"> Surname </span></td>
        <td><span th:text="${contact.phoneNumber}"> Phone Number </span></td>
        <td><span th:text="${contact.email}"> Email </span></td>
        <td><a th:href="'http://localhost/deleteContact/' + ${contact.id}"> Sterge </a></td>
    </tr>


    </tbody>
</table>
</body>
</html>